@page "/"

<PageTitle>Horarios y teatros</PageTitle>

<h1>Horarios y teatros</h1>

<select id="listaDesplegable">
    <!-- Opciones de la lista desplegable -->
    <option value="opcion1">Mayorca</option>
    <option value="opcion2">Florida</option>
    <option value="opcion3">Preium plaza</option>
    <option value="opcion4">Tesoro</option>
</select>

<label for="fechaSeleccionada">Selecciona una fecha:</label>
<input type="date" id="fechaSeleccionada" name="fechaSeleccionada">

<button id="buscarResultados">Buscar Resultados</button>




<SurveyPrompt Title="How is Blazor working for you?" />
